# Python
__pycache__/
*.pyc

# Build artifacts
*.o
*.a
*.so

# Containers
*.sif
*.img

scripts/stream_nvbench/
scripts/nccl/
scripts/hpl_ai/
results/mlperf/inference/bert/offline/


# Large binary checkpoints
*.pt
*.pth
*.ckpt
